# Git
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
celerybeat-schedule
*.db
*.sqlite3

# IDE / Editor specific
.vscode/
.idea/
*.swp
*.swo

# Docker
Dockerfile
.dockerignore

# OS specific
.DS_Store
Thumbs.db 